In [3]:
import pandas as pd
import lxml

In [5]:
df = pd.read_csv('airline-safety.csv')
df[:10]

                 airline  ...  fatalities_00_14
0             Aer Lingus  ...                 0
1              Aeroflot*  ...                88
2  Aerolineas Argentinas  ...                 0
3            Aeromexico*  ...                 0
4             Air Canada  ...                 0
5             Air France  ...               337
6             Air India*  ...               158
7       Air New Zealand*  ...                 7
8       Alaska Airlines*  ...                88
9               Alitalia  ...                 0

[10 rows x 8 columns]

In [11]:
df_num = df.drop(['airline'], axis=1)
df_num.head()

   avail_seat_km_per_week  ...  fatalities_00_14
0               320906734  ...                 0
1              1197672318  ...                88
2               385803648  ...                 0
3               596871813  ...                 0
4              1865253802  ...                 0

[5 rows x 7 columns]

In [6]:
print ('Media: ', df['incidents_85_99'].mean())

Media:  7.178571428571429

In [7]:
print ('Media: ', df['fatalities_85_99'].mean())

Media:  112.41071428571429

In [8]:
print ('Media: ', df['incidents_00_14'].mean())

Media:  4.125

In [9]:
print ('Media: ', df['fatalities_00_14'].mean())

Media:  55.517857142857146

In [ ]:
sorted = df['incidents_85_99'].sort_values(ascending = True)
p = 3
acum = 0
for i in range (p, len(sorted)-p):
    if not pd.isna(sorted[i]):
        acum = acum+sorted[i]
result = acum / (len(sorted) - (2 * p))
print ('Media recortada (p=3): ', result)

Media recortada (p=3):  6.02

In [ ]:
import random
weights = [random.random() for i in range(len(sorted))]

In [ ]:
vals = 0
ws = 0
for i in range (len(sorted)):
    if not pd.isna(sorted[i]):
        vals = vals + (sorted[i]* weights[i])
        ws = ws + weights[i]
result = vals/ws
print ('Mediaponderada: ', result)

In [ ]:
print('Mediana: ', df['incidents_85_99'].median())

Mediana:  4.0

In [ ]:
print('Desviacion estandar: ', df['incidents_85_99'].std())

Desviacion estandar:  11.035656495456639

In [ ]:
print('Varianza: ', df['incidents_85_99'].var())

Varianza:  121.78571428571429

In [ ]:
print('Desviacion absoluta mediana: ', df['incidents_85_99'].mad())

Desviacion absoluta mediana:  5.8265306122448965

In [ ]:
df['incidents_85_99'].quantile([0.25, 0.50, 0.75, 1])

0.25     2.0
0.50     4.0
0.75     8.0
1.00    76.0
Name: incidents_85_99, dtype: float64